<div id="crear-curso" v-cloak>

  <modulo-contenedor-admin :usuario="usuario">
    <div class=" formularioCentralSmall jumbotron">
      <form @submit="validarFormulario" action="/crear-curso" method="post">
        <!-- accion registrada en routes.js-->
        <!-- validarFormulario se enviar como funcion, vue la interpreta y no es necesario poner "return validarFormulario()" -->
        <div class="form-group">
          <label for="nombre">Nombre del curso (*) <a data-toggle="tooltip" data-placement="top"
              title="Nombre del curso que se mostrará al usuario 'Estudiante'"> <i
                class="pl-2 fas fa-info-circle"></i></a></label>
          <input name="nombreCurso" class="form-control" id="nombre" autofocus type="text"
            :class="[formErrors.nombreCurso ? 'is-invalid' : '']" v-model.trim="formData.nombreCurso"
            placeholder="Ej: Alfabetización web">
          <div class="invalid-feedback" v-if="formErrors.nombreCurso">Ingrese el nombre del curso</div>
        </div>

        <div class="form-group">
          <label for="descripcionCurso">Descripción del curso (*) <a data-placement="top"
              title="Descripción corta y precisa del contenido del curso">
              <i class="pl-2 fas fa-info-circle"></i></a></label>
          <input name="descripcionCurso" class="form-control" id="descripcionCurso" autofocus type="text"
            placeholder="Ej: Curso de enseñaza de informática básica">
          <!-- <div class="invalid-feedback" v-if="formErrors.nombreCurso">Ingrese La descripción del curso</div> -->
        </div>
        <input type="submit" value="Crear" class="btn btn-primary boton_formulario">
      </form>
    </div>
  </modulo-contenedor-admin>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>